<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Italian Cuisine</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.ico" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600|Pacifico" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendor/animate/animate.min.css" rel="stylesheet">
    <link href="~/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendor/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Main Stylesheet File -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Top Header Start -->
    <section id="top-header">
        <div class="logo">
            <img src="~/images/logo.png" />
        </div>
    </section>
    <!-- Top Header End -->
    <!-- Header Start -->
    <header id="header">
        <div class="container">
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <partial name="_WebLoginPartial" />
                    @*<li class="menu-active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a href="menu.html">Menu</a></li>
                    <li><a href="cart.html">Giỏ hàng</a></li>
                    <li><a asp-action="Login" asp-controller="Home">Đăng nhập</a></li>
                    <li><a href="register.html">Đăng ký</a></li>
                    <li><a href="contact.html">Liên hệ</a></li>*@
                </ul>
            </nav>
        </div>
    </header>
    <!-- Header End -->
    @RenderBody()

    <!-- JavaScript Libraries -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery/jquery-migrate.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/easing/easing.min.js"></script>
    <script src="~/vendor/stickyjs/sticky.js"></script>
    <script src="~/vendor/superfish/hoverIntent.js"></script>
    <script src="~/vendor/superfish/superfish.min.js"></script>
    <script src="~/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/vendor/tempusdominus/js/moment.min.js"></script>
    <script src="~/vendor/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/vendor/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Main Javascript File -->
    <script src="~/js/main.js"></script>

</body>
</html>
